name: Vprofile CICD WF
on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main
  workflow_dispatch:

  schedule:
    - cron: '59 00 * * 1-5'  # Weekly on Sundays at midnight

permissions:
  contents: read
  #pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Maven build
        run: mvn install

      - name: Archive build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: vprofile-artifacts
          path: target/*.war  

      - name: Build jobs failed
        if: failure()
        run: echo "Build job failed. Please check the logs."

  testing:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Run tests on main branch
        run: mvn test
      
      - name: Checkstyle
        run: mvn checkstyle:checkstyle
       